@import "../../../../../styles.scss";

h1 {
  font-size: 1.3rem;
  color: white;
  padding-left: 1rem;
}

.coupons-header-container {
  position: relative;
  width: auto;
  height: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--primary-light-black);
  @include light-grey-border;

  ul {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      list-style: none;
      width: 20%;
      height: 100%;
      color: var(--primary-grey);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
    }
  }
}

.empty-coupons-wrp {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;

  h1 {
    color: white;
    font-size: 1.3rem;
  }
}

@include pagination-style;
