@import "../../../../../../../styles.scss";
.invoice-product-list-container {
  position: relative;
  width: auto;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  .invoice-product-list-header {
    position: relative;
    width: auto;
    height: 30px;

    @include light-grey-border;

    ul {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      height: 100%;

      li {
        list-style: none;
        color: var(--primary-grey);
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .invoice-product-list-container {
    overflow-x: scroll;

    .invoice-product-list-header {
      width: 900px;
    }
  }
}
