<div class="invoice-product-list-header">
  <ul>
    <li>Sr.</li>
    <li>product name</li>
    <li>quantity</li>
    <li>item price</li>
    <li>amount</li>
  </ul>
</div>
<div class="invoice-product-list-container">
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
  <app-invoice-product-item></app-invoice-product-item>
</div>
