<div class="header-container">
  <div class="logo-wrp">
    <span class="dashboard-icon"></span>
    <h6 routerLink="">AdminDash</h6>
  </div>
  <div class="mobile-bars-wrp">
    <span class="bars-icon"></span>
  </div>
  <div (click)="toggleModal()" class="current-user-img-wrp">
    <img src="/assets/images/user/user.jpg" alt="user.jpg" />
    <div *ngIf="isModalOpen" class="profile-modal">
      <ul>
        <li class="dashboard__list__item">
          <span class="dashboard-grey-icon"></span>Dashboard
        </li>
        <li routerLink="edit-profile" class="settings__list__item">
          <span class="settings-grey-icon"></span>Edit profile
        </li>
        <li class="logout__list__item" (click)="logOut()">
          <span class="logout-icon"></span>log out
        </li>
      </ul>
    </div>
  </div>
</div>
