h1 {
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

@mixin inStockText {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  display: inline-block;
  width: auto;
}

.product-details-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-black);

  .product-img-wrp {
    position: relative;
    width: 50%;
    height: 500px;
    box-sizing: content-box;
    margin: 1rem;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 1rem;
    }
  }

  .details-info-wrp {
    position: relative;
    width: 50%;
    height: 400px;
    padding: 1rem;

    .qt-wrp {
      position: relative;
      display: flex;
      align-items: center;
      width: 32%;
      justify-content: space-between;
    }

    .product__name {
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 0;
    }

    .product__price {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-weight: bold;
    }

    .stock__number {
      font-weight: bold;
      font-style: italic;
    }

    .qt__text {
      font-size: 1rem;
      color: var(--primary-grey);
      font-style: italic;
      font-weight: 300;
    }

    .details-text-wrp {
      position: relative;
      width: 100%;
      height: auto;
      .details__text {
        font-size: 0.9rem;
        text-align: justify;
      }
    }
  }

  button {
    width: 30%;
    height: 40px;
    background-color: var(--primary-green);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

p {
  color: var(--primary-grey);
  font-size: 1rem;
}

.green--text {
  color: var(--primary-green);
}

.bg--green {
  position: relative;
  background-color: var(--primary-green);
  @include inStockText;
}

.bg--red {
  position: relative;
  background-color: var(--primary-warning);
  @include inStockText;
}
