<app-edit-product-modal *ngIf="product"></app-edit-product-modal>
<h1>Product Details</h1>
<div class="product-details-container" *ngIf="product">
  <div class="product-img-wrp">
    <img [src]="product.image" [alt]="product.image" />
  </div>
  <div class="details-info-wrp">
    <p>
      Status:
      <span class="green--text">{{
        product.published | isProductPublished
      }}</span>
    </p>
    <p class="product__name">{{ product.productName }}</p>
    <p class="stock__number">stock number: {{ product.stock }}</p>
    <p class="product__price">{{ product.price | currency : "EUR" }}</p>
    <div class="qt-wrp">
      <p [ngClass]="product.inStock ? 'bg--green' : 'bg--red'">
        {{ product.inStock | inStock }}
      </p>
      <p class="qt__text">Quantity: {{ product.quantity }}</p>
    </div>
    <div class="details-text-wrp">
      <p class="details__text">{{ product.details }}</p>
    </div>
    <div class="category-text-wrp">
      <p>Category: {{ product.category }}</p>
    </div>
    <button (click)="openEditProductModal(product)">Edit product</button>
  </div>
</div>
