@import "~src/styles.scss";
.upload-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .file-drop-zone {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: var(--primary-grey);
    }

    p {
      color: var(--primary-grey);
      font-size: 1rem;
    }

    #profileImage {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
  .grey--border {
    border: 1px dashed var(--primary-grey);
  }

  .green--border {
    border: 1px dashed var(--primary-green);
  }
}
.upload__err {
  color: var(--primary-warning) !important;
  font-size: 0.9rem;
}
