@import "~/src/styles.scss";
.print-download-invoices-container {
  position: relative;
  margin-top: 70px;
  height: 70px;
  display: flex;
  justify-content: space-between;

  button {
    background-color: var(--primary-green);
    height: 40px;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .print-download-invoices-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
