<div class="dashboard-nav-container">
  <ul>
    <li class="dash__link"><span class="dash-grey-icon"></span>Dashboard</li>
    <li class="products__link">
      <span class="products-grey-icon"></span>Products
    </li>
    <li class="category__link">
      <span class="category-grey-icon"></span>Category
    </li>
    <li class="customers__link">
      <span class="customers-grey-icon"></span>Customers
    </li>
    <li class="orders__link"><span class="orders-grey-icon"></span>Orders</li>
    <li class="coupon__link"><span class="coupons-grey-icon"></span>Coupons</li>
    <li class="staff__link"><span class="staff-grey-icon"></span>Our Staff</li>
    <li class="settings__link">
      <span class="settings-grey-icon"></span>Settings
    </li>
    <li class="pages__link"><span class="pages-grey-icon"></span>Pages</li>
  </ul>
  <button class="logOut__btn">Log out</button>
</div>
