<div class="dashboard-nav-container" *ngIf="isDashboardOpen">
  <div class="overlay" (click)="closeDashboardNav()"></div>
  <ul (click)="closeDashNav()">
    <li
      routerLink="overview"
      routerLinkActive="activeDashLink dashboardLink"
      class="dash__link"
    >
      <span class="dash-grey-icon"></span>Dashboard
    </li>
    <li
      routerLink="/products"
      routerLinkActive="activeDashLink productsLink"
      class="products__link"
    >
      <span class="products-grey-icon"></span>Products
    </li>
    <li
      routerLink="/category"
      routerLinkActive="activeDashLink categoryLink"
      class="category__link"
    >
      <span class="category-grey-icon"></span>Category
    </li>
    <li
      routerLink="/customers"
      routerLinkActive="activeDashLink customersLink"
      class="customers__link"
    >
      <span class="customers-grey-icon"></span>Customers
    </li>
    <li
      routerLink="/orders"
      routerLinkActive="activeDashLink ordersLink"
      class="orders__link"
    >
      <span class="orders-grey-icon"></span>Orders
    </li>
    <li
      routerLink="/coupons"
      routerLinkActive="activeDashLink couponsLink"
      class="coupon__link"
    >
      <span class="coupons-grey-icon"></span>Coupons
    </li>
    <li
      routerLink="/staff"
      routerLinkActive="activeDashLink staffLink"
      class="staff__link"
    >
      <span class="staff-grey-icon"></span>Our Staff
    </li>
    <li
      routerLink="/settings"
      routerLinkActive="activeDashLink settingsLink"
      class="settings__link"
    >
      <span class="settings-grey-icon"></span>Settings
    </li>
  </ul>
  <button (click)="logOut()" class="logOut__btn">Log out</button>
</div>
