<div class="dashboard-nav-container">
  <ul>
    <li class="dash__link"><span class="dash-grey-icon"></span>Dashboard</li>
    <li routerLink="/products" class="products__link">
      <span class="products-grey-icon"></span>Products
    </li>
    <li routerLink="/category" class="category__link">
      <span class="category-grey-icon"></span>Category
    </li>
    <li routerLink="/customers" class="customers__link">
      <span class="customers-grey-icon"></span>Customers
    </li>
    <li routerLink="/orders" class="orders__link">
      <span class="orders-grey-icon"></span>Orders
    </li>
    <li routerLink="/coupons" class="coupon__link">
      <span class="coupons-grey-icon"></span>Coupons
    </li>
    <li routerLink="/staff" class="staff__link">
      <span class="staff-grey-icon"></span>Our Staff
    </li>
    <li routerLink="/settings" class="settings__link">
      <span class="settings-grey-icon"></span>Settings
    </li>
    <li routerLink="/pages" class="pages__link">
      <span class="pages-grey-icon"></span>Pages
    </li>
  </ul>
  <button (click)="logOut()" class="logOut__btn">Log out</button>
</div>
