@import "~/src/styles.scss";

.dashboard-nav-container {
  position: fixed;
  top: 40px;
  width: 250px;
  height: 100vh;
  background-color: var(--primary-light-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;

  .overlay {
    display: none;
  }

  .logOut__btn {
    position: relative;
    width: 80%;
    height: 30px;
    background-color: var(--primary-green);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 1rem;
  }

  ul {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      width: 200px;
      color: grey;
      padding: 8px;
      padding-left: 14px;

      font-size: 1.1rem;
      display: flex;
      justify-content: flex-start;
      border-left: 4px solid transparent;
    }

    .activeDashLink {
      color: white;
      border-left: 4px solid var(--primary-green);
    }

    .dashboardLink {
      .dash-grey-icon::after {
        content: url("/assets/icons/dashboard/dash-white.svg");
      }
    }

    .productsLink {
      .products-grey-icon {
        content: url("/assets/icons/dashboard/bag-white.svg");
      }
    }

    .categoryLink {
      .category-grey-icon {
        content: url("/assets/icons/dashboard/category-white.svg");
      }
    }

    .customersLink {
      .customers-grey-icon {
        content: url("/assets/icons/dashboard/customers-white.svg");
      }
    }

    .ordersLink {
      .orders-grey-icon {
        content: url("/assets/icons/dashboard/orders-white.svg");
      }
    }

    .couponsLink {
      .coupons-grey-icon {
        content: url("/assets/icons/dashboard/coupon-white.svg");
      }
    }

    .staffLink {
      .staff-grey-icon {
        content: url("/assets/icons/dashboard/staff-white.svg");
      }
    }

    .settingsLink {
      .settings-grey-icon {
        content: url("/assets/icons/dashboard/settings-white.svg");
      }
    }

    .pagesLink {
      .pages-grey-icon {
        content: url("/assets/icons/dashboard/pages-white.svg");
      }
    }

    li:hover {
      cursor: pointer;
      color: white;
    }

    .dash__link:hover .dash-grey-icon::after {
      content: url("/assets/icons/dashboard/dash-white.svg");
    }

    .products__link:hover .products-grey-icon {
      content: url("/assets/icons/dashboard/bag-white.svg");
    }

    .category__link:hover .category-grey-icon {
      content: url("/assets/icons/dashboard/category-white.svg");
    }

    .customers__link:hover .customers-grey-icon {
      content: url("/assets/icons/dashboard/customers-white.svg");
    }

    .orders__link:hover .orders-grey-icon {
      content: url("/assets/icons/dashboard/orders-white.svg");
    }

    .coupon__link:hover .coupons-grey-icon {
      content: url("/assets/icons/dashboard/coupon-white.svg");
    }

    .staff__link:hover .staff-grey-icon {
      content: url("/assets/icons/dashboard/staff-white.svg");
    }

    .settings__link:hover .settings-grey-icon {
      content: url("/assets/icons/dashboard/settings-white.svg");
    }

    .pages__link:hover .pages-grey-icon {
      content: url("/assets/icons/dashboard/pages-white.svg");
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .dashboard-nav-container {
    display: flex;
    z-index: 2;
    width: 50%;

    .overlay {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
