@import "../../../../../styles.scss";
h1 {
  color: white;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.staff-container {
  position: relative;
  width: auto;
  overflow-y: hidden;
  margin-left: 1rem;
  margin-right: 1rem;

  .inner-container {
    width: auto;

    .staff-header-container {
      position: relative;
      width: auto;
      height: 40px;
      background-color: var(--primary-light-black);
      @include light-grey-border;

      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;

        li {
          width: 20%;
          height: 100%;
          color: var(--primary-grey);
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 14px;
        }

        .actions {
          width: 15%;
        }
      }
    }

    .empty-staff-wrp {
      position: relative;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        font-size: 1.3rem;
      }
    }
  }
}
@include pagination-style;

@media only screen and (max-width: $breakpoint-tablet) {
  .staff-container {
    overflow-x: scroll;
    .inner-container {
      width: 1200px;
    }
  }
}
