<div class="orders-filter-search-container">
  <div class="inner-wrp">
    <form>
      <input type="text" name="phone" placeholder="Search by phone" />
      <select name="status" id="status">
        <option value="pending">pending</option>
        <option value="delivered">delivered</option>
        <option value="processing">processing</option>
        <option value="cancel">cancel</option>
      </select>
      <select name="orderLimits" id="orderLimits">
        <option value="5">last 5 days</option>
        <option value="7">last 7 days</option>
        <option value="15">last 15 days</option>
        <option value="30">last 30 days</option>
      </select>
      <button>Download all orders</button>
    </form>
  </div>
</div>
