@import "~/src/styles.scss";

.orders-filter-search-container {
  position: relative;
  width: auto;
  height: 90px;
  margin-bottom: 2rem;

  .inner-wrp {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

    form {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--primary-light-black);
      margin: 1rem;
      border-radius: 5px;

      input,
      select,
      button {
        width: 20%;
        height: 40px;
        border-radius: 5px;
      }

      input,
      select {
        background-color: var(--primary-light-black);
        border: 1px solid var(--primary-grey);
        border-radius: 5px;
        color: var(--primary-grey);
      }

      button {
        background-color: var(--primary-green);
        color: white;
        cursor: pointer;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .orders-filter-search-container {
    height: 250px;
    .inner-wrp {
      height: 250px;
      form {
        flex-direction: column;

        input,
        select,
        button {
          width: 80%;
        }
      }
    }
  }
}

::placeholder {
  padding-left: 1rem;
}
