<h1>Edit profile</h1>
<div class="edit-profile-container">
  <div class="profile-form-wrp">
    <form
      [formGroup]="updateUserForm"
      id="updateProfileForm"
      (ngSubmit)="updateUser()"
    >
      <div class="form-el-wrp height--100px">
        <!--upload image-->
        <div>
          <label for="image">Profile image:</label>
        </div>
        <div class="drop-image-wrp">
          <app-upload-user-image
            (imageEvent)="imageAdded($event)"
          ></app-upload-user-image>
        </div>
        <!--upload image end-->
      </div>
      <div class="form-el-wrp height--100px">
        <!--preview upload image-->
        <div></div>
        <div>
          <div class="preview-img-wrp">
            <img
              #preview
              [src]="
                this.currentUser?.image === null
                  ? '/assets/images/default.jpg'
                  : imagePreview
              "
              [alt]="
                this.currentUser?.image === null ? 'default.jpg' : imagePreview
              "
            />
          </div>
        </div>
        <!--preview upload image end-->
      </div>
      <div class="errors-wrp" *ngIf="email && contact && name">
        <p *ngIf="email.invalid && (email.dirty || email.touched)">
          *Email is not valid
        </p>
        <p *ngIf="email.hasError('required') && (email.touched || email.dirty)">
          *Email is required
        </p>
        <p *ngIf="name.hasError('required') && (name.touched || name.dirty)">
          *Name is required
        </p>
        <p
          *ngIf="
            contact.hasError('required') && (contact.touched || contact.dirty)
          "
        >
          *Contact is required
        </p>
      </div>
      <div class="form-el-wrp">
        <div><label for="name">Name:</label></div>
        <div><input formControlName="name" type="text" name="name" /></div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Email:</label></div>
        <div><input formControlName="email" type="text" name="email" /></div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Contact number:</label></div>
        <div>
          <input formControlName="contact" type="text" name="contact" />
        </div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Your role:</label></div>
        <div>
          <select name="role" id="staffRole" formControlName="role">
            <option value="Admin">Admin</option>
            <option value="ceo">CEO</option>
            <option value="manager">Manager</option>
            <option value="accountant">Accountant</option>
            <option value="driver">driver</option>
          </select>
        </div>
      </div>
      <div class="form-el-wrp">
        <div></div>
        <div class="d--flex--start">
          <button
            type="submit"
            form="updateProfileForm"
            class="update__profile__btn"
          >
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
