<h1>Edit profile</h1>
<div class="edit-profile-container">
  <div class="profile-form-wrp">
    <form action="#">
      <div class="form-el-wrp height--100px">
        <div>
          <label for="image">Profile image:</label>
        </div>
        <div>
          <div class="file-drop-zone">
            <span class="upload-icon"></span>
            <span>drop image here</span>
            <input id="profileImage" type="file" name="image" />
          </div>
        </div>
      </div>
      <div class="form-el-wrp height--100px">
        <div>
          <div class="preview-img-wrp">
            <img src="/assets/images/user/user.jpg" alt="" />
          </div>
        </div>
        <div></div>
      </div>
      <div class="form-el-wrp">
        <div><label for="name">Name:</label></div>
        <div><input type="text" name="name" /></div>
      </div>
    </form>
  </div>
</div>
