<h1>Edit profile</h1>
<div class="edit-profile-container">
  <div class="profile-form-wrp">
    <form
      [formGroup]="updateUserForm"
      id="updateProfileForm"
      (ngSubmit)="updateUser()"
    >
      <div class="form-el-wrp height--100px">
        <div>
          <label for="image">Profile image:</label>
        </div>
        <div>
          <div
            [ngClass]="
              isFileOverInput
                ? 'file-drop-zone green--border'
                : 'file-drop-zone grey--border'
            "
          >
            <span class="upload-icon"></span>
            <span>drop image here</span>
            <p class="image__name" *ngIf="this.imageName">{{ imageName }}</p>
            <p class="upload__err" *ngIf="fileNotSupported">
              File type not supported!
            </p>
            <input
              id="profileImage"
              type="file"
              name="image"
              appDropUploadImage
              (onImageDropped)="imageDroped($event)"
              (onFileOverEvent)="onFileOver($event)"
            />
          </div>
        </div>
      </div>
      <div class="form-el-wrp height--100px">
        <div></div>
        <div>
          <div class="preview-img-wrp">
            <img
              [src]="
                this.currentUser?.image === null
                  ? '/assets/images/default.jpg'
                  : this.currentUser?.image
              "
              [alt]="
                this.currentUser?.image === null
                  ? 'default.jpg'
                  : this.currentUser?.image
              "
            />
          </div>
        </div>
      </div>
      <div class="form-el-wrp">
        <div><label for="name">Name:</label></div>
        <div><input formControlName="name" type="text" name="name" /></div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Email:</label></div>
        <div><input formControlName="email" type="text" name="email" /></div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Contact number:</label></div>
        <div>
          <input formControlName="contact" type="text" name="contact" />
        </div>
      </div>
      <div class="form-el-wrp">
        <div><label for="email">Your role:</label></div>
        <div>
          <select name="role" id="staffRole" formControlName="role">
            <option value="Admin">Admin</option>
            <option value="ceo">CEO</option>
            <option value="manager">Manager</option>
            <option value="accountant">Accountant</option>
            <option value="driver">driver</option>
          </select>
        </div>
      </div>
      <div class="form-el-wrp">
        <div></div>
        <div class="d--flex--start">
          <button
            type="submit"
            form="updateProfileForm"
            class="update__profile__btn"
          >
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
