<div class="add-product-modal-container" *ngIf="isProductModalOpen">
  <div class="inner-modal-wrp">
    <div class="add-product-modal-content-wrp">
      <div class="product-modal-heading">
        <div class="heading-text-wrp">
          <h5 class="heading__text">Add Product</h5>
          <h6 class="heading__text">
            add your product and nessesary information here
          </h6>
        </div>
        <div class="close-modal-wrp" (click)="closeAddProductModal()">
          <span class="close-icon-red"></span>
        </div>
      </div>
      <div class="add-product-wrp">
        <form id="addProductForm" action="#">
          <div class="add-product-column-wrp height-100px">
            <div class="label-wrp">
              <p>Product image:</p>
            </div>
            <div>
              <div class="product-img-wrp">
                <p>drop image here</p>
                <input type="file" name="productImage" />
              </div>
            </div>
          </div>
          <div class="add-product-column-wrp">
            <div class="label-wrp">
              <p>Product Title/Name::</p>
            </div>
            <div>
              <input type="text" name="productName" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
