<div class="add-product-modal-container" *ngIf="isProductModalOpen">
  <div class="inner-modal-wrp">
    <div class="add-product-modal-content-wrp">
      <div class="product-modal-heading">
        <div class="heading-text-wrp">
          <h5 class="heading__text">Add Product</h5>
          <h6 class="heading__text">
            add your product and nessesary information here
          </h6>
        </div>
        <div class="close-modal-wrp" (click)="closeAddProductModal()">
          <span class="close-icon-red"></span>
        </div>
      </div>
    </div>
  </div>
</div>
