<app-modal-wrapper *ngIf="isProductModalOpen">
  <!--content projection-->
  <h6 modalHeading>Add product</h6>
  <p modalSubheading>Add product information here</p>
  <span (click)="closeAddProductModal()" closeIcon class="close-icon"></span>
  <button class="cancel__btn" (click)="closeAddProductModal()" cancelModal>
    Cancel
  </button>
  <button (click)="AddProduct()" class="submit__btn" submitModal>
    Add product
  </button>
  <!--end content projection-->
  <!-- main form-->
  <form
    id="addProductForm"
    [formGroup]="addProductForm"
    (ngSubmit)="AddProduct()"
    modalForm
  >
    <div class="add-product-column-wrp drop--image">
      <div class="label-wrp">
        <p>Product image:</p>
      </div>
      <div>
        <div class="drop-image-wrp">
          <app-upload-user-image
            (imageEvent)="imageDropped($event)"
          ></app-upload-user-image>
        </div>
      </div>
    </div>

    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>image preview:</p>
      </div>
      <div>
        <div class="image-preview">
          <img #preview src="/assets/images/defaultProduct.png" />
        </div>
      </div>
    </div>

    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Product Title/Name::</p>
      </div>
      <div>
        <input type="text" name="productName" formControlName="productName" />
      </div>
    </div>
    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Product details:</p>
      </div>
      <div>
        <textarea
          id="productDetails"
          name="productDetails"
          cols="30"
          rows="10"
          formControlName="productDetails"
        ></textarea>
      </div>
    </div>
    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Product category:</p>
      </div>
      <div>
        <input type="text" name="category" formControlName="category" />
      </div>
    </div>
    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Unit (kg/pc/lb/ml/g...etc):</p>
      </div>
      <div>
        <input type="text" name="unit" formControlName="unit" />
      </div>
    </div>
    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Product quantity:</p>
      </div>
      <div>
        <input type="text" name="quantity" formControlName="quantity" />
      </div>
    </div>
    <div class="add-product-column-wrp">
      <div class="label-wrp">
        <p>Product price:</p>
      </div>
      <div>
        <input type="text" name="price" formControlName="price" />
      </div>
    </div>
  </form>
  <!--end main form-->
</app-modal-wrapper>
