@import "../../../../../../styles.scss";
.customer-list-container {
  position: relative;
  width: auto;
  margin: 1rem;
  overflow-x: hidden;

  .inner-container {
    width: auto;
  }

  .empty-list-wrp {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

    h1 {
      color: white;
      font-size: 1.3rem;
    }
  }

  .customer-list-header-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--primary-light-black);
    @include light-grey-border;

    ul {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      height: 100%;

      li {
        list-style: none;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-grey);
        font-size: 0.8rem;
        font-weight: bold;
      }

      .actions {
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .customer-list-container {
    overflow-x: scroll;
    .inner-container {
      width: 1200px;
    }
  }
}

@include pagination-style;
