<div class="customer-list-container">
  <div class="customer-list-header-container">
    <ul>
      <li>ID</li>
      <li>JOINING DATE</li>
      <li>NAME</li>
      <li>EMAIL</li>
      <li>PHONE</li>
      <li class="actions">ACTIONS</li>
    </ul>
  </div>
  <app-customer
    *ngFor="
      let customer of customers
        | paginate : { itemsPerPage: 10, currentPage: p }
    "
    [customer]="customer"
  ></app-customer>
  <pagination-controls
    class="pagination"
    [responsive]="true"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
