<div class="add-staff-modal-container">
  <div class="inner-wrp">
    <!--modal header-->
    <div class="modal-header">
      <div class="header-text-wrp">
        <h6>Add Staff</h6>
        <p>add staff information here</p>
      </div>
      <div class="header-logo-wrp">
        <span class="close-icon"></span>
      </div>
    </div>
    <!--end modal header-->
    <!--modal form fields-->
    <div class="modal-form-wrp">
      <form>
        <div class="form-column-wrp height--100px">
          <label>Image upload</label>
          <div class="drop-image-wrp">
            <app-upload-user-image
              (imageEvent)="uploadedImage($event)"
            ></app-upload-user-image>
          </div>
        </div>
        <div class="form-column-wrp">
          <label for="email">Email</label>
          <input type="email" name="email" />
        </div>
        <div class="form-column-wrp">
          <label for="password" name="password">Password</label>
          <input type="password" />
        </div>
        <div class="form-column-wrp">
          <label for="contact">Contact</label>
          <input type="text" name="contact" />
        </div>
        <div class="form-column-wrp">
          <label for="date">Joining date</label>
          <input type="date" name="date" />
        </div>
        <div class="form-column-wrp">
          <label for="role">Staff role</label>
          <input type="text" name="role" />
        </div>
      </form>
    </div>
    <!--modal form fields end-->
  </div>
  <!--modal btn-->
  <div class="modal-btn-wrp">
    <button class="cancel__btn">cancel</button>
    <button class="add_staff_btn">add staff</button>
  </div>
  <!--modal btn end-->
</div>
