<div class="invoice-payment-info-container">
  <div class="inner-wrp">
    <p class="heading__info__text">Payment Method</p>
    <p class="payment__info__data">Card</p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Shipping Cost</p>
    <p class="payment__info__data">$60</p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Discount</p>
    <p class="payment__info__data">$0.00</p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Total amount</p>
    <p class="payment__info__data total__amount">$120</p>
  </div>
</div>
