<div class="invoice-payment-info-container" *ngIf="order">
  <div class="inner-wrp">
    <p class="heading__info__text">Payment Method</p>
    <p class="payment__info__data">{{ order.paymentMethod }}</p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Shipping Cost</p>
    <p class="payment__info__data">
      {{ order.shippingCost | currency : "EUR" }}
    </p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Discount</p>
    <p class="payment__info__data">{{ order.discount | currency : "EUR" }}</p>
  </div>
  <div class="inner-wrp">
    <p class="heading__info__text">Total amount</p>
    <p class="payment__info__data total__amount">
      {{ order.total | currency : "EUR" }}
    </p>
  </div>
</div>
