<div class="sale-statistics-container" *ngIf="isWeeklySaleChartDataReady">
  <div class="chart-container">
    <div><h6>weekly sales</h6></div>
    <canvas
      baseChart
      [labels]="doughnutChartLabels"
      [datasets]="weeklySaleLabels"
      [options]="weeklySalesOptions"
      [legend]="true"
      [type]="'line'"
    >
    </canvas>
  </div>
  <div class="chart-container" *ngIf="isBestSellingChartDataReady">
    <div class="chart-heading-wrp"><h6>best selling products</h6></div>
    <canvas
      baseChart
      [labels]="bestSellingProductLabels"
      [datasets]="bestSellingProductsData"
      [options]="bestSellingProductOptions"
      [legend]="true"
      [type]="'doughnut'"
    >
    </canvas>
  </div>
</div>
