<div class="chart-text-header">
  <div>
    <h6>weekly sales</h6>
  </div>
  <div>
    <h6>best selling products</h6>
  </div>
</div>
<div class="sale-statistics-container" *ngIf="isChartDataReady">
  <div class="weekly-sales-container">
    <canvas
      baseChart
      [labels]="doughnutChartLabels"
      [datasets]="weeklySaleLabels"
      [options]="weeklySalesOptions"
      [legend]="true"
      [type]="'line'"
    >
    </canvas>
  </div>

  <div class="best-sales-container">
    <canvas
      baseChart
      [labels]="bestSellingProductLabels"
      [datasets]="bestSellingProductsData"
      [options]="bestSellingProductOptions"
      [legend]="true"
      [type]="'doughnut'"
    >
    </canvas>
  </div>
</div>
