<div class="category-item-container">
  <ul>
    <li>{{ category.id }}</li>
    <li class="icon-list-item">
      <img src="{{ category.image }}" alt="{{ category.image }}" />
    </li>
    <li>{{ category.name }}</li>
    <li>{{ category.description }}</li>
    <li>
      <form [formGroup]="categoryFormGroup">
        <input
          type="checkbox"
          name="published"
          formControlName="published"
          (change)="togglePublishCategory(category)"
        />
      </form>
    </li>
    <li class="actions-wrp">
      <span class="edit-icon" (click)="openEditCategoryModal(category)">
        <app-message-tooltip [tooltipText]="'edit'"></app-message-tooltip>
      </span>
      <span class="trash-icon" (click)="openDeleteModal(category.id)">
        <app-message-tooltip
          [tooltipColor]="'#df4759'"
          [tooltipText]="'delete'"
        ></app-message-tooltip>
      </span>
    </li>
  </ul>
</div>
