<div class="add-and-search-staff-container">
  <form>
    <input
      type="text"
      name="name"
      placeholder="search by staff name"
      [(ngModel)]="name"
      (input)="filterStaffByName()"
    />
    <select
      name="staffRole"
      id="staffRole"
      (change)="filterStaffByRole()"
      [(ngModel)]="roleSelected"
    >
      <option value="">Role</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>
    <button>add staff</button>
  </form>
</div>
