<div class="add-product-modal-container">
  <div class="inner-modal-wrp">
    <div class="add-product-modal-content-wrp">
      <div class="product-modal-heading">
        <div class="heading-text-wrp">
          <h5 class="heading__text">Edit Category</h5>
          <h6 class="heading__text">
            add your product and nessesary information here
          </h6>
        </div>
        <div class="close-modal-wrp" (click)="closeEditCategoryModal()">
          <span class="close-icon-red"></span>
        </div>
      </div>
      <div class="add-product-wrp">
        <form
          id="addProductForm"
          [formGroup]="editCategoryForm"
          (ngSubmit)="AddCategory()"
        >
          <div class="add-product-column-wrp height-100px">
            <div class="label-wrp">
              <p>Category image:</p>
            </div>
            <div>
              <div
                [ngClass]="
                  isImageOverInput === true
                    ? 'product-img-wrp green--border'
                    : 'product-img-wrp'
                "
              >
                <span class="upload-icon"></span>
                <p
                  *ngIf="!this.editCategoryForm.controls['categoryImage'].value"
                >
                  drop image here
                </p>
                <p
                  *ngIf="
                    this.editCategoryForm.controls['categoryImage'].value !=
                    null
                  "
                >
                  {{ categoryImageName }}
                </p>
                <p class="upload__err" *ngIf="fileNotSupported">
                  File type not supported
                </p>
                <input
                  type="file"
                  name="categoryImage"
                  (onImageDropped)="categoryImageDropped($event)"
                  (onFileOverEvent)="imageOverInput($event)"
                  appDropUploadImage
                />
              </div>
            </div>
          </div>
          <div class="add-product-column-wrp">
            <div class="label-wrp">
              <p>Name:</p>
            </div>
            <div>
              <input type="text" name="name" formControlName="name" />
            </div>
          </div>
          <div class="add-product-column-wrp">
            <div class="label-wrp">
              <p>Description:</p>
            </div>
            <div>
              <input
                type="text"
                name="description"
                formControlName="description"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-btn-wrp">
        <button (click)="closeEditCategoryModal()">cancel</button>
        <button form="addProductForm" type="submit" class="add__product__btn">
          edit category
        </button>
      </div>
    </div>
  </div>
</div>
