@import "../../../../../../styles.scss";

.category-list-container {
  position: relative;
  height: auto;
  width: auto;
  overflow-x: hidden;
  margin: 1rem;

  .inner-container {
    position: relative;
    width: auto;
  }

  .empty-category-list-wrp {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .category-list-header {
    @include light-grey-border;
    position: relative;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 40px;
    background-color: var(--primary-light-black);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;

      li {
        list-style: none;
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-grey);
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      .icon-list-item {
        width: 70px !important;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .category-list-container {
    overflow-x: scroll;
    .inner-container {
      width: 1200px;
    }
  }
}

@include pagination-style;
