@import "../../../../../styles.scss";
h1 {
  font-size: 1.2rem;
  color: white;
  padding-left: 1rem;
}

.customer-orders-list-container {
  position: relative;
  width: auto;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /*  display: flex;
  justify-content: center; */
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  .inner-container {
    position: relative;
    width: auto;
  }

  .customer-orders-list-wrp {
    position: relative;
    width: auto;
    height: 100%;
    margin: 1rem;

    .customer-orders-list-header {
      position: relative;
      width: 100%;
      height: 30px;
      background-color: var(--primary-light-black);
      @include light-grey-border;
    }

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 30px;
      display: flex;

      li {
        list-style: none;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-grey);
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@include pagination-style;

@media only screen and (max-width: $breakpoint-tablet) {
  .customer-orders-list-container {
    .inner-container {
      overflow-x: scroll;
      .customer-orders-list-wrp {
        width: 1200px;
      }
    }
  }
}
