<h1>Customer Order List</h1>
<div class="customer-orders-list-container">
  <div class="inner-container">
    <div
      class="customer-orders-list-wrp"
      *ngIf="orders.length > 0; else emtpyOrdersList"
    >
      <div class="customer-orders-list-header">
        <ul>
          <li>order id</li>
          <li>time</li>
          <li>shipping address</li>
          <li>phone</li>
          <li>method</li>
          <li>total</li>
          <li>status</li>
          <li>actions</li>
        </ul>
      </div>
      <app-customer-order-item
        *ngFor="
          let order of orders | paginate : { itemsPerPage: 6, currentPage: p }
        "
        [order]="order"
      ></app-customer-order-item>
    </div>
    <ng-template #emtpyOrdersList>
      <h1>Order list empty!</h1>
    </ng-template>
  </div>
  <pagination-controls
    class="pagination"
    [responsive]="true"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
