/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-black);
}

:root {
  --primary-light-black: #1d1f26;
  --primary-black: #121317;
  --primary-purple: #763df2;
  --primary-blue: #0487d9;
  --primary-green: #0fa66e;
  --primary-grey: #aab1ae;
  --primary-light-grey: #ededed;
  --primary-light-blue: #056faf;
  --primary-light-blue1: #1bbbee;
  --primary-warning: #df4759;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

//icons
.facebook__btn {
  background: url("/assets/icons/facebook.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  padding-left: 1rem;
}

.google__btn {
  background: url("/assets/icons/google.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  padding-left: 1rem;
}

.dashboard-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard-grey.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.settings-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/settings-grey.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.logout-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/logout.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.dash-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/dash-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.products-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/bag-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.category-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/category-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.customers-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/customers-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}
.orders-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/orders-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.coupons-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/coupon-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.staff-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/staff-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.settings-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/settings-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.pages-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard/pages-grey.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.stacks-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-amount/stacks.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.cart-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-amount/cart.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.card-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-amount/card.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.cart-icon-orders {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-count/cart.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.loop-icon-orders {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-count/loop.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.checkMark-icon-orders {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-count/checkMark.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.truck-icon-orders {
  position: relative;
  display: block;
  background: url("/assets/icons/orders-count/truck.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.details-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/icons/products/details.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.edit-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/icons/products/edit.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.close-icon-red {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/icons/products/close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.upload-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/icons/products/upload.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin light-grey-border {
  border: 1px solid rgba($color: #f1efef, $alpha: 0.1);
}

@mixin pagination-style {
  .pagination ::ng-deep pagination-template nav {
    background-color: var(--primary-black);
    padding-top: 10px;
  }

  .pagination ::ng-deep .ngx-pagination {
    margin-left: 1rem;
    background-color: var(--primary-light-black);
  }

  .pagination ::ng-deep .ngx-pagination .current {
    background: var(--primary-green);
  }

  .pagination ::ng-deep .ngx-pagination {
    li {
      font-size: 0.9rem;
      cursor: pointer;
      border: none;

      a {
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
}
