/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

:root {
  --primary-light-black: #1d1f26;
  --primary-black: #121317;
  --primary-purple: #763df2;
  --primary-blue: #0487d9;
  --primary-green: #0fa66e;
  --primary-grey: #aab1ae;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

//icons
.facebook__btn {
  background: url("/assets/icons/facebook.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  padding-left: 1rem;
}

.google__btn {
  background: url("/assets/icons/google.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  padding-left: 1rem;
}

.dashboard-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/dashboard-grey.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.settings-grey-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/settings-grey.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.logout-icon {
  position: relative;
  display: block;
  background: url("/assets/icons/logout.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 3px;
}
