<div class="product-filter-container">
  <form>
    <input
      id="search__product"
      class="product-filter__item"
      type="text"
      placeholder="search by product name"
      name="productName"
      [(ngModel)]="productName"
      (input)="filterProductsByName()"
    />
    <select
      class="product-filter__item"
      id="category__filter"
      name="category"
      [(ngModel)]="category"
      (change)="filterProductsByCategory()"
    >
      <option value="all">All</option>
      <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
    </select>
    <select
      class="product-filter__item"
      id="price__filter"
      name="productOrder"
      [(ngModel)]="productOrder"
    >
      <option value="asc">low to high</option>
      <option value="desc">high to low</option>
    </select>
    <button
      (click)="openAddProductModal()"
      id="add__product"
      class="product-filter__item"
    >
      add product
    </button>
  </form>
</div>
