<div class="product-filter-container">
  <input
    id="search__product"
    class="product-filter__item"
    type="text"
    placeholder="search by product name"
  />
  <select
    class="product-filter__item"
    name="category__filter"
    id="category__filter"
  >
    <option value="Category" selected>Category</option>
  </select>
  <select class="product-filter__item" name="price__filter" id="price__filter">
    <option value="asc">low to high</option>
    <option value="desc">high to low</option>
  </select>
  <button
    (click)="openAddProductModal()"
    id="add__product"
    class="product-filter__item"
  >
    add product
  </button>
</div>
