<div class="forgot-password-container">
  <div class="forgot-pass-inner-wrp">
    <div class="forgot-pass-img-wrp">
      <img
        src="/assets/forgot-password/forgot-pass.jpg"
        alt="forgot-pass.jpg"
      />
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="recoverPassword()">
      <h1>Forgot password</h1>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" />
      </div>
      <button type="submit">Recover password</button>
      <a routerLink="/auth/login">Already have account?Login</a>
    </form>
  </div>
</div>
